body{
    background-image:red;
}

.heading{
    color: black;
    width: 80%;
    font-size: 30px;
    font-family: 'Kanit', sans-serif;
}

#camera{
    border:5px dashed blanchedalmond ;
    width: 350px;
    height: 301px;
}







































